In [1]:
### Review Pandas (Pembelajaran Mesin #1)
### Dipersiapkan oleh Ridowati G

In [2]:
### 1. Membaca Data dari file csv

In [4]:
## 1.1. Import library pandas beri nama pd
import pandas as pd

## 1.2. Baca data file nba terlampir simpan dengan nama dataku
dataku = pd.read_csv("nba.csv")

## 1.3. Tampilkan isi dataku
print(dataku.head())

## 1.4. Berapa ukuran dataku (jumlah baris dataku dan jumlah kolom dataku)? 
print(dataku.shape)

## 1.5. Tampilkan informasi dari dataku (info)
dataku.info()

## 1.6. Berapa banyaknya kolom dari dataku
print(dataku.shape[1])

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
(458, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
9

In [ ]:
### 2. Menampilkan isi data

In [5]:
#2.1. Tampilkan data awal dari dataku (gunakan head)
dataku.head()

#2.2. Tampilkan data terakhir dari dataku (gunakan tail)
dataku.tail()

#2.3. Tampilkan 20 data teratas dari dataku dari column Name 
dataku.sort_values(by="Name").head(20)["Name"]

#2.4. Tampilkan 10 data teratas dari column Name dan Age, simpan hasilnya dengan nama "top10" : Contoh Hasil 
top10 = dataku.sort_values(by="Name").head(10)[["Name", "Age"]]

print(top10)

                Name   Age
152     Aaron Brooks  31.0
356     Aaron Gordon  20.0
328   Aaron Harrison  21.0
404    Adreian Payne  25.0
312       Al Horford  30.0
330     Al Jefferson  31.0
428  Al-Farouq Aminu  25.0
368    Alan Anderson  33.0
135    Alan Williams  23.0
444       Alec Burks  24.0

In [9]:
#2.5. Tampilkan 10 data terbawah dari column Name. Simpan hasilnya dalam variable "bottom10" : Contoh Hasil
bottom10 = dataku.sort_values(by="Name", ascending=False).head(10)[["Name", "Age"]]

print(bottom10["Name"])

237          Zaza Pachulia
271          Zach Randolph
402            Zach LaVine
270         Xavier Munford
386        Wilson Chandler
25             Willie Reed
141    Willie Cauley-Stein
385            Will Barton
233        Wesley Matthews
97          Wesley Johnson
Name: Name, dtype: object

In [ ]:
### 3. Melihat data statistik

In [13]:
import numpy as np

# 3.1. Tampilkan statistik deskriptive khusus untuk data numeric 
dataku.describe(include=[np.number])

# 3.2. Berapakah rata-rata dari kolom "Age" dataku.describe()
dataku["Age"].mean()

# 3.3. Tampilkan statistik deksriptif khusus untuk data nonnumeric
dataku.describe(include=[np.object_])

# 3.4. Ada berapakah jumlah team yang unik ?
dataku["Team"].unique().shape[0]

# 3.5. College manakah yang termasuk dalam top ? 
dataku["College"].value_counts().sort_values(ascending=False).head(5)

College
Kentucky          22
Duke              20
Kansas            18
North Carolina    16
UCLA              15
Name: count, dtype: int64

In [ ]:
### 4. Import data ke xlsx

In [23]:
pip install openpyx1

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement openpyx1 (from versions: none)
ERROR: No matching distribution found for openpyx1

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [41]:
# 4.1. Import dataku ke dalam file excell (xlsx) dengan nama "dataexcel", nama sheet = "coba lagi"
# Kumpulkan file dataexcel.xlsx tersebut
df = pd.DataFrame(dataku)
df.to_excel('dataexcel.xlsx', sheet_name='coba lagi', index=False)
print(f'Data telah disimpan ke dalam file {'dataexcel.xlsx'}, sheet: {'coba lagi'}')

Data telah disimpan ke dalam file dataexcel.xlsx, sheet: coba lagi

In [ ]:
### 5. Membuat dataframe

In [42]:
#Membuat dataframe dari list
## 5.1. Buatlah sebuah data frame berasal dari list. Beri nama dataframe dffromlist
## isi dari list : ['Informatika','Universitas','Sanata','Dharma']
data = ['Informatika', 'Universitas', 'Sanata', 'Dharma']

dffromlist = pd.DataFrame(data)

## 5.2. Tampilkan dffromlist
print(dffromlist)

             0
0  Informatika
1  Universitas
2       Sanata
3       Dharma

In [46]:
##Membuat dataframe dari dictonary ndarry/list
## 5.3. Buatlah sebuah data frame berasal dari dictionary ndarry/list beri nama dffromdict
# Note : INF, TE, TM, MAT adalah index
data = {
    " ": ["INF", "TE", "TM", "MAT"], 
    "Program Studi" : ["Informatika", "Teknik Elektro", "Teknik Mesin", "Matematika"],
    "Jumlah" : [3000, 1000, 500, 200]
}

dffromdict = pd.DataFrame(data).set_index(" ")

## 5.4. Tampilkan hasilnya 
print(dffromdict)

      Program Studi  Jumlah

INF     Informatika    3000
TE   Teknik Elektro    1000
TM     Teknik Mesin     500
MAT      Matematika     200

In [47]:
#Membuat dataframe dari dataframe dari list of list, sehingga menghasilkan hasil seperti gambar
## 5.5. Buatlah dataframe dari list of list 
data = [
    ["INF", "Informatika", 3000],
    ["TE", "Teknik Elektro", 1000],
    ["TM", "Teknik Mesin", 500],
    ["MAT", "Matematika", 200],
]

df_listoflist = pd.DataFrame(data, columns=[" ", "Program Studi", "Jumlah"]).set_index(" ")

## 5.6. Tampilkan hasilnya
print(df_listoflist)

      Program Studi  Jumlah

INF     Informatika    3000
TE   Teknik Elektro    1000
TM     Teknik Mesin     500
MAT      Matematika     200

In [53]:
# 5.6. Buatlah dataframe dengan 4 baris 7 kolom, isinya adalah nilai random. 
##Nama kolom "satu","dua", "tiga","empat","lima", "enam", "tujuh"
##Nama baris (index) ="A","B","C","D"
np.random.seed(42)

df_random = pd.DataFrame(np.random.rand(4, 7),
                        columns=["satu", "dua", "tiga", "empat", "lima", "enam", "tujuh"],
                        index=["A", "B", "C", "D"])

print(df_random)

       satu       dua      tiga     empat      lima      enam     tujuh
A  0.374540  0.950714  0.731994  0.598658  0.156019  0.155995  0.058084
B  0.866176  0.601115  0.708073  0.020584  0.969910  0.832443  0.212339
C  0.181825  0.183405  0.304242  0.524756  0.431945  0.291229  0.611853
D  0.139494  0.292145  0.366362  0.456070  0.785176  0.199674  0.514234